@font-face {
    font-family: 'XM Vahid';
    src: url('XMVahid-Bold.woff2') format('woff2'),
        url('XMVahid-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

